{% extends 'base.html.twig' %}

{% block title %}Valider votre commande{% endblock %}

{% block content %}
<h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande</p>
    <div class ="row">
        <div class = "col-md-6">
            <b>Choisir mon adresse de livraison</b><br>
            <b>Choisir mon transporteur</b><br>
        </div>
        <div class="col-md-6">
            <b>Mes produits</b><br>
            <b>Bouton pour payer</b><br>
        </div>
    </div>
{% endblock %}
